.toggleClass {
    margin-top: 50px;
}

.box {
    width: 200px;
    height: 200px;
    background: salmon;
    margin: 30px;
    transition: all ease-in-out 0.4s;
}

.animated {
    background: lightblue;
    transform: scale(1.3);
}